extends layout

block content
  h1= title
  p German Word Wander created by Rich Gibson rich.gibson@gmail.com
  p This uses the 'Free German Dictionay' of 1.6 million German words created by Jan Schreiber and available 
    a(href="http://sourceforge.net/projects/germandict/") here on sourceforge


  p Look up prefixes for a word - enter a root, say 'ziehen' and get all of the prefixes to ziehen like 'ab', 'aber', 'auf', u.s.w. 'Prefixes' include synthetic nouns and whatever other compound word forms exist.
  div
    form(action='/prefixes',method='get')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='root') root
            input(id='root',type='text',value='',placeholder='@',name='root')
          input(type='submit',value='Do it',data-transition='fade', data-theme='c')
  p For example 
    li
      a(href="/prefixes?root=stehen") All words which end with 'stehen'
    li
      a(href="/prefixes?root=ziehen") All words which end with 'ziehen'
    
  p look up words which start a certain way - enter 'ab' and get all words which start 'ab'
  div
    form(action='/starts',method='get')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='prefix') prefix
            input(id='prefix',type='text',value='',placeholder='@',name='prefix')
          input(type='submit',value='Do it',data-transition='fade', data-theme='c')

  p For example 
    li
      a(href="/starts?prefix=auf") All words which start with 'auf'
    li
      a(href="/starts?prefix=aus") All words which start with 'aus'

  hr
  p To start: in german/wordwander $ node/bin/www
