- var search_label = "Words which end with:"
- var search_type = "prefix"
include query_one.jade
- var search_label = "Words that start with"
- var search_type = "suffix"
include query_one.jade
- var search_label = "Words that contain"
- var search_type = "contains"
include query_one.jade
- var search_label = "Verb Prefix lookup-lookup 'official' prefixes"
- var search_type = "verbprefix"
include query_one.jade

